body {
    background-color: #fbfbeb;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.logo {
    margin-top: -30px;
    font-size: 100px; /* Make the text giant */
    font-family: 'Neue Montreal', Bold;
    font-weight: bold;
    color: #3c3b38; /* Set text color to your choice */
    letter-spacing: 5px; /* Optional: Adds space between letters */
    text-transform: uppercase; /* Optional: Makes the text uppercase */
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    width: 300px;
}

.choice-button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #000000;
    color: white;
    transition: background-color 0.3s ease;
}

.choice-button:hover {
    background-color: #45a049;
}

.choice-button.absolutely:hover {
    background-color: #4CAF50;
}

.choice-button.absolutely-not:hover {
    background-color: #ff0000;
}

.cropped-image {
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
    margin: 20px auto;
    display: block;
}

.submit-button {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #9fb5be;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.submit-button:hover {
    background-color: #9fb5be;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('file:///Users/paosmacbook/Downloads/NeueMontreal-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

.top-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
}

.center-content {
    margin-top: 4rem;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.center-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}